:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}

html {
  font-family: system-ui, sans-serif;
  font-size: 16px; /* Base font size for better mobile compatibility */
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(51, 0, 85, 0.8); /* Adjust the initial background color and opacity */
  backdrop-filter: blur(10px); /* Adjust the initial blur amount */
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out; /* Add backdrop-filter transition */
  z-index: 100;
}

nav:hover {
  background: rgba(51, 0, 85, 0.9); /* Adjust the hover background color and opacity */
  backdrop-filter: blur(30px); /* Adjust the hover blur amount */
}



nav ul {
  list-style-type: none;
  margin: 0; /* Remove margin */
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  text-align: center;
  margin: 0 0.3rem; /* Add some horizontal spacing */
}

nav ul li a {
  display: block;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
/* Logo styles */
.logo {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  background: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%); /* Apply gradient background to logo text */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  -webkit-background-clip: text; /* Clip background to text */
  margin-left: auto; /* Push the logo to the right */
  margin-right: auto; /* Push the logo to the left */
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  nav ul {
    margin-top: 15px;
    align-items: center; /* Center-align list items in mobile view */
  }

  nav li {
    margin: 10px 0;
    text-align: center; /* Center-align list items in mobile view */
  }

  .logo {
    margin-left: 0;
    margin-right: 0; /* Center-align the logo text in mobile view */
    margin-bottom: 10px;
  }
}
.post {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding-right: 10px;
}

.post li {
  display: grid;
  padding-right: 15px;
}

.share ul {
  display: inline-block;
  align-items: center;
  justify-items: stretch;
  place-items: center;
  padding-right: 10px;
  padding: 1px;
}

.share li {
  display: inline-block;
  align-items: center;
  justify-items: stretch;
  place-items: center;
  padding-right: 20px;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: scroll;
  background-size: cover; /* or background-size: contain; */
  background-repeat: no-repeat;
}

main {
  margin: auto;
  margin-top: 60px;
  padding: 1.5rem;
  max-width: 60ch;
  margin-bottom: calc(1.38rem + 100px); /* Adjust the 100px to match the height of your footer */
}

h1 {
  font-size: max(2rem, min(4rem, calc(3vw + 3vh + 3vmin)));
  font-weight: 800;
  margin: 0;
  color: #da6;
}

h2 {
  font-size: max(1.25rem, min(2.5rem, calc(1.5vw + 1.5vh + 1.5vmin)));
  font-weight: 500;
  margin: 0;
  color: #fff;
}

h3 {
  font-size: max(0.5rem, min(1rem, calc(0.75vw + 0.75vh + 0.75vmin)));
  font-weight: 300;
  margin: 0;
  color: #fff;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 800%;
  background-position: 0%;
}

.instructions {
  line-height: 1.6;
  margin: max(1rem, min(calc(0.7rem + 0.87vw), 1.38rem));
  border: 1px solid rgba(var(--accent), 25%);
  background-color: white;
  padding: max(1rem, min(calc(0.7rem + 0.87vw), 1.38rem));
  border-radius: 0.4rem;
}

.instructions code {
  font-size: max(0.875em, min(calc(0.5rem + 0.5vw), 1rem));
  font-weight: bold;
  background: rgba(var(--accent), 12%);
  color: rgb(var(--accent));
  border-radius: 4px;
  padding: max(0.3em, min(calc(0.25rem + 0.25vw), 0.5rem)) max(0.45em, min(calc(0.4rem + 0.4vw), 0.8rem));
}

.instructions strong {
  color: rgb(var(--accent));
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(24ch, min(100%, calc(50% - 0.5rem))), 1fr));
  gap: max(1rem, min(calc(0.7rem + 0.87vw), 1.38rem));
  padding: 0;
}

button {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: max(10px, min(calc(7px + 0.87vw), 20px));
  font-size: max(12px, min(calc(8px + 0.87vw), 16px));
  font-weight: 700;
  color: #fff;
  border-radius: max(5px, min(calc(2px + 0.87vw), 10px));
  transition: all ease 0.1s;
  box-shadow: 0px max(5px, min(calc(3px + 0.87vw), 10px)) 0px 0px #a29bfe;
  cursor: pointer;
}

button:active {
  transform: translateY(max(5px, min(calc(3px + 0.87vw), 10px)));
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
:where(footer) {
  text-align: center;
  position: relative; /* Change to relative */
  width: 100%;
  padding: max(0.88rem, min(calc(0.7rem + 0.87vw), 1.38rem));
  color: #fff;
  background-color: #330055;
  background-size: auto;
  box-shadow:
    0.2px 0.5px 100px #8186bb40,
    1.1px 2.7px 4px -0.4px #8186bb40,
    2.1px 5px 7px -0.7px #8186bb40,
    3.5px 8.3px 12px -1.1px #8186bb40,
    5.6px 13.2px 20px -1.4px #8186bb40,
    8.7px 20.7px 30px -1.8px #8186bb40,
    13.3px 31.4px 48px -2.1px #8186bb40,
    19.6px 46.3px 70px -2.5px #8186bb40;
  /* Remove position: absolute; and bottom: 0; */
}

:where(footer) div {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  gap: max(0.88rem, min(calc(0.7rem + 0.87vw), 1.38rem));
  grid-gap: max(0.88rem, min(calc(0.7rem + 0.87vw), 1.38rem));
}
