---
import Layout from '../layouts/Layout.astro';
import SocialShare from '../components/SocialShare.astro'
import '../styles/global.css';

---
<html>
<Layout title="My Awesome Website">
	<main>
		<br/>
		<div class="wrapper">
			<article class="page-body">
		<h1><span class="text-gradient">EXAMPLE</span> Blog Post!</h1>
		<h2>Author: <a href="#">Alexander Reyes</a></h2>
		<p class="instructions">
			<strong>Blog Post #8</strong>
			<br /><br />
			This is an example<strong> blog post!</strong>
			
			<br /><br />
			After you have finished your post, you can simply add the social share links wihtin your blog post via SocialShare.astro component!
			<br /><br />
			Below is an example of what it looks like when we incorporate it into our blog posts with components.
			We also have added a live version below when you click the links.
			<br /><br />
			<img src="https://reywins.com/images/example2.png"
			alt="Social Shares Buttons that trigger the script on click."
			align="left"
			style="max-width: 50%;
				   border: 2px solid;">
			<br /><br />
			<br /><br />
			<br /><br />
			You will need the following two items:
			<br /><br />
			<code>SocialShare.astro</code>
			<br /><br />
			<code>Share.js</code>
			<br /><br />
			For installation instructions, please view our <a href="https://github.com/ReyWins/SocialShares" target="_blank">Github Page</a>
			<br />
			To return to our main page Reywins.com, click <a href="https://reywins.com">here!</a>
		
		</p>
		<div class="instructions">
		<center><h2><strong><strong><span class="text-gradient">Share this post!</span></strong></strong></h2></center>
			<SocialShare />
			
				</div>
			<ul class="post">
				<li><button>Prev Post</button></li>
				<li><button>Next Post</button></li>
			</ul>
			</div>
		</center>
		</article>
	</div></div>

	</main>
</Layout>
</html>
