---
import Layout from '../layouts/Layout.astro';
import SocialShare from '../components/SocialShare.astro'
import Navigation from '../components/Navigation.astro';

---

<Navigation />

<Layout title="My Awesome Website">
	<main>
		<div class="wrapper">
			<article class="page-body">
		<h1>We have <span class="text-gradient">AWESOME</span> News!</h1>
		<h2>Author: <a href="#">Alexander Reyes</a></h2>
		<p class="instructions">
			<strong>Lorem ipsumolor sit amet</strong>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros. 
			Nam libero justo laoreet sit amet cursus sit amet dictum. Scelerisque eu ultrices vitae auctor. Ut enim blandit volutpat maecenas. 
			Feugiat scelerisque varius morbi enim nunc faucibus. Tortor posuere ac ut consequat semper viverra nam libero justo. 
			Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Egestas integer eget aliquet nibh praesent tristique magna sit amet. 
			Pellentesque habitant morbi tristique senectus et netus et. Bibendum ut tristique et egestas. Mi sit amet mauris commodo. Egestas egestas fringilla phasellus faucibus scelerisque. 
			Sociis natoque penatibus et magnis. Neque viverra justo nec ultrices. In tellus integer feugiat scelerisque. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Iaculis nunc sed augue lacus viverra. 
			Elit at imperdiet dui accumsan sit amet. Non tellus orci ac auctor augue mauris augue neque gravida.
			<br>
				<br>	
			<strong>Nunc</strong> aliquet bibendum enim facilisis gravida. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. A pellentesque sit amet porttitor eget dolor morbi. 
			Cras sed felis eget velit aliquet sagittis id consectetur purus. Viverra aliquet eget sit amet tellus cras. Massa tincidunt dui ut ornare lectus. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. 
			Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Parturient montes nascetur ridiculus mus mauris. Iaculis urna id volutpat lacus laoreet non curabitur. In nulla posuere sollicitudin aliquam ultrices sagittis orci. 
			Ac tortor vitae purus faucibus ornare suspendisse.
		
		</p>
		<div class="instructions">
		<center><strong><strong>Share this post!</strong></strong></center>
			<SocialShare />
				</div>
			<ul class="post">
				<li><button>Previous Post</button></li>
				<li><button>Next Post</button></li>
			</ul>
			</div>
		</center>
		</article>
	</div>

	</main>
</Layout>
