---
import Layout from '../layouts/Layout.astro';
import SocialShare from '../components/SocialShare.astro'
import '../styles/global.css';
---
<html>
<Layout title="My Awesome Website">
	<main>
		<div class="wrapper">
			<article class="page-body">
		<h1>We have <span class="text-gradient">AWESOME</span> News!</h1>
		<h2>Author: <a href="#">Alexander Reyes</a></h2>
		<p class="instructions">
			<strong>Blog Post #8</strong>
				<br><br>
			<strong>Nunc</strong>tincidunt tortor aliquam nulla facilisi. A pellentesque sit amet porttitor eget dolor morbi. 
			Cras sed felis eget velit aliquet sagittis id consectetur purus. 
			<code>Aliquet bibendum enim facilisis gravida. Tellus rutrum tellus pellentesque eu</code>
			Viverra aliquet eget sit amet tellus cras. Massa tincidunt dui ut ornare lectus. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. 
			Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Parturient montes nascetur ridiculus mus mauris. Iaculis urna id volutpat lacus laoreet non curabitur. In nulla posuere sollicitudin aliquam ultrices sagittis orci. 
			Ac tortor vitae purus faucibus ornare suspendisse.
		
		</p>
		<div class="instructions">
		<center><h2><strong><strong><span class="text-gradient">Share this post!</span></strong></strong></h2></center>
			<SocialShare />
			
				</div>
			<ul class="post">
				<li><button>Prev Post</button></li>
				<li><button>Next Post</button></li>
			</ul>
			</div>
		</center>
		</article>
	</div></div>

	</main>
</Layout>
</html>
