---
import { Icon } from "astro-icon";
---

<footer>

    <small>
        Copyright &copy; <span id="copyright">2023</span> | All rights reserved.
        <br>
        Made with <Icon name=heart width="15px" /> in Dallas, TX
    </small>
    <br />
</footer>