---
import { getShareUrl } from '../share.js';
import Icon from 'astro-icon';
---
<center>
<div class="share">
<ul>
    <li><a href={getShareUrl('facebook', Astro.url)} target="_blank" rel="noopener"><Icon name=facebook width="35px" /></a></li>  
        <li><a href={getShareUrl('twitter', Astro.url)} target="_blank" rel="noopener"><Icon name=twitter width="35px" /></a></li>
            <li><a href={getShareUrl('linkedin', Astro.url)} target="_blank" rel="noopener"><Icon name=linkedin width="35px" /></a></li>
</ul>
</div>
</center>
